/02_Bus/nbproject/private/
/02_Bus/build/
/03_Polynomy/nbproject/private/
/03_Polynomy/build/
/05_ElevenGame/nbproject/private/
/JavaApplication7/nbproject/private/
/Weather/nbproject/private/
/06_Files/nbproject/private/
